body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    min-height: 100vh !important;
}


.card-img-top{
    height: 20rem !important;
    border-radius: 1rem !important;
    margin-right: 2rem !important;
    

}
.navbar{
    height: 6rem !important;
    background-color: white !important;
    font-size: 1.2rem !important;
   font-weight: 600 !important;
   
   
}
.link{
    text-decoration: none !important;
    color: black;
}
.cont{
    padding: 1rem ;
    flex: 1 !important;
}
.card-body{
    font-weight: 500 !important;
    padding: 0.3rem !important;
}

.navbar-brand{
    font-size: 2.5rem !important;
color: #FF5A5F !important;
}
.card{
    border: none !important;
    width: 28rem !important;
    
}
.aloo{
    color: white !important;
    background-color: #FF5A5F !important;
}
.form-control{
   border-color: black !important;
}

.listy{
    border: 2px solid black !important;
}
footer{

    width: 100% ;
    height: 6rem ;
    background-color: aliceblue;
   
   
}

.terms{
    display: flex;
    margin: 2.5rem 1rem 2rem 4rem;
    font-size: 18px;
    font-weight: 500;
}
.terms p{
    margin: 0rem 9px  0rem 7px ;
}

.contt{
    display: flex;
    justify-content: space-between;
}

.social-icons{
    margin: 2rem 12rem 2rem 1rem;
    font-size: 25px;

}
.social-icons i{
    margin-left: 19px;
}