<footer class="mt-5">
    <div class="contt">
        <div class="terms">
            <p> &copy;2024 Airbnb,Inc   </p>&middot
            <p>Privacy  </p>&middot;
            
            <p>Terms  </p>&middot;
            <p>SiteMaps  </p>&middot;
            <p>Company Details</p>&middot;
        </div>
        <div class="social-icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
    </div>
</footer>